main {
    .signup-steps {
        .steps {
            padding: 50px 0;
            .flex-box();
            .step {
                text-align: center;
                i {
                   font-size: 7rem;
                   margin-bottom: 20px;
                }
                width: 30%;
                padding: 20px;
            }
        }
    }

    


}
