main {
    .signup-steps {
        .steps {
            .flex-box();
            .step {
                text-align: center;
                i {
                   font-size: 4rem;
                }
                width: 30%;
            }
        }
    }
}